footer {
    width: 100vw;
    text-align: center;
    color: var(--color-primary);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

footer a {
    color: var(--color-primary);
    font-weight: var(--font-weight);
    margin: 0;
}
