footer {
    width: 100%;
    color: var(--color-primary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--spacing);
    padding: var(--spacing);
}

footer a {
    color: var(--color-primary);
    font-weight: var(--font-weight);
}

footer ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: var(--spacing);
}

footer img {
    height: 50px;
}
