<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title th:text="${title}">Title</title>
  <link rel="icon" href="image/favicon.png" type="image/png">
  <link rel="stylesheet" href="css/base.css">
  <link rel="stylesheet" href="css/header.css">
  <link rel="stylesheet" href="css/footer.css">
  <link rel="stylesheet" href="css/about.css">
</head>
<body>

  <header th:insert="${header}"></header>

  <main>

    <div class="title">
      <h1 th:text="${h1}">Title</h1>
    </div>

    <div id="hard-skills">
      <h2>Hard Skills:</h2>
      <div id="hard-skills-resume">
        <div class="description">
          <h2>Engenheiro de Software & Desenvolvedor BackEnd</h2>
          <p>Sou Leandro Cardoso, um apaixonado por tecnologia desde a infância, o nerd viciado em solucionar problemas com eficiência e segurança.</p>
          <p>Tenho como stacks principais, mas jamais se limitando a elas, as tecnologias: <strong>Java</strong>, <strong>SpringBoot</strong>, <strong>Git</strong>, <strong>PostgreSQL</strong> e <strong>Docker</strong>.</p>
          <p>Também tenho conhecimentos em outras tecnologias como: <strong>Python</strong>, <strong>Django</strong>, <strong>Flask</strong>, <strong>JavaScript</strong>, <strong>TypeScript</strong>, <strong>React</strong>, <strong>C</strong>, <strong>C++</strong> e <strong>C#</strong>.</p>
          <p>Focado sempre em um código limpo, veloz, seguro e proficional.</p>
          <p>Estou focado no <strong>BackEnd</strong>, mas no futuro, pretendo estudar também <strong>IA</strong> e <strong>Segurança de Dados</strong>. Dois tópicos importantíssimos no contexto atual, e que também gosto muito.</p>
        </div>
        <img class="illustration" src="image/setup.png" alt="hard skills">
      </div>
      <div id="hard-skills-others">
        <div id="academic-skills-languages">
          <div class="card">
            <h2>Acadêmicas</h2>
            <ul class="list-none">
              <li>
                <p><strong>Instituição:</strong> UniVassouras</p>
                <p><strong>Curso:</strong> Engenharia de Software (presencial)</p>
                <p><strong>Início:</strong> 02/2023</p>
                <p><strong>Término:</strong> 02/2027</p>
              </li>
              <hr>
              <li>
                <p><strong>Instituição:</strong> UERJ</p>
                <p><strong>Curso:</strong> Física (presencial)</p>
                <p><strong>Início:</strong> 01/2017</p>
                <p><strong>Término:</strong> 01/2020 (incompleto)</p>
              </li>
            </ul>
          </div>
          <div class="card">
            <h2>Conhecimentos</h2>
            <ul id="skills">
              <li>Java</li>
              <li>SprintBoot</li>
              <li>Git</li>
              <li>SQL</li>
              <li>Docker</li>
              <li>Python</li>
              <li>Django</li>
              <li>Flask</li>
              <li>JavaScript</li>
              <li>TypeScript</li>
              <li>React</li>
              <li>C</li>
              <li>C++</li>
              <li>C#</li>
            </ul>
          </div>
          <div class="card">
            <h2>Línguas</h2>
            <ul class="list-none">
              <li>
                <p><strong>Nativa:</strong> Português Brasileiro</p>
              </li>
              <hr>
              <li>
                <p><strong>Lingua:</strong> Inglês</p>
                <p><strong>Leitura e escrita:</strong> Intermediário</p>
                <p><strong>Conversação:</strong> Intermediário</p>
              </li>
            </ul>
          </div>
        </div>
        <div class="card">
          <h2>Cursos</h2>
          <ul class="list-none">
            <li>
              <p><strong>Instituição:</strong> SENAI</p>
              <p><strong>Curso:</strong> Básico de Cibersegurança</p>
              <p><strong>Carga Horária:</strong> 64 h</p>
              <p><strong>Ano:</strong> 2024</p>
            </li>
            <hr>
            <li>
              <p><strong>Instituição:</strong> SENAI</p>
              <p><strong>Curso:</strong> Nivelamento de Cibersegurança</p>
              <p><strong>Carga Horária:</strong> 80 h</p>
              <p><strong>Ano:</strong> 2024</p>
            </li>
            <hr>
            <li>
              <p><strong>Instituição:</strong> Udacity</p>
              <p><strong>Curso:</strong> Fundamentos de Data Science I</p>
              <p><strong>Carga Horária:</strong> 80 h</p>
              <p><strong>Ano:</strong> 2019</p>
            </li>
            <hr>
            <li>
              <p><strong>Instituição:</strong> USP</p>
              <p><strong>Curso:</strong> Introdução à Ciência da Computação em Python</p>
              <p><strong>Carga Horária:</strong> 29 h</p>
              <p><strong>Ano:</strong> 2019</p>
            </li>
            <hr>
            <li>
              <p><strong>Instituição:</strong> Microlins</p>
              <p><strong>Curso:</strong> Web Designer (presencial)</p>
              <p><strong>Carga Horária:</strong> 92 h</p>
              <p><strong>Ano:</strong> 2006</p>
            </li>
            <hr>
            <li>
              <p><strong>Instituição:</strong> Microlins</p>
              <p><strong>Curso:</strong> Redes de Computadores (presencial)</p>
              <p><strong>Carga Horária:</strong> 72 h</p>
              <p><strong>Ano:</strong> 2005</p>
            </li>
            <hr>
            <li>
              <p><strong>Instituição:</strong> Microlins</p>
              <p><strong>Curso:</strong> Montagem e Manutenção de Computadores (presencial)</p>
              <p><strong>Carga Horária:</strong> 72 h</p>
              <p><strong>Ano:</strong> 2005</p>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div id="soft-skills">
      <h2>Soft Skills:</h2>
    </div>

    <div id="experiences">
      <h2>Experiências Profissionais:</h2>
      <div class="card">
        <ul class="list-none">
          <li>
            <p><strong>Cargo:</strong> Estagiário de Tecnologia</p>
            <p><strong>Empresa:</strong> Prefeitura de Saquarema</p>
            <p><strong>Período:</strong> 2024 até agora</p>
            <p><strong>Função:</strong> Suporte técnico, manutenção de redes, Office, auxilio e manutenção de equipamentos eletrónicos voltados para o ensino, auxiliar professores com material tecnológico e aula de informática.</p>
          </li>
        </ul>
      </div>
      <div class="card">
        <ul class="list-none">
          <li>
            <p><strong>Cargo:</strong> Autónomo</p>
            <p><strong>Período:</strong> 2016 até 2023</p>
            <p><strong>Função:</strong> Freelancer de Programação, Marketing digital, vendas online comissionadas, redes sociais, otimização de websites para mecanismos de busca.</p>
          </li>
        </ul>
      </div>
      <div class="card">
        <ul class="list-none">
          <li>
            <p><strong>Cargo:</strong> Iniciação Científica</p>
            <p><strong>Empresa:</strong> UERJ</p>
            <p><strong>Período:</strong> 2017</p>
            <p><strong>Função:</strong> Projeto de pesquisa de simulação de raios X em um cluster de computadores, utilizando o Kernel do Linux e a linguagem de programação C#.</p>
          </li>
        </ul>
      </div>
      <div class="card">
        <ul class="list-none">
          <li>
            <p><strong>Cargo:</strong> Gerente de Estoque</p>
            <p><strong>Empresa:</strong> Bom Doce</p>
            <p><strong>Período:</strong> 2014 até 2015</p>
            <p><strong>Função:</strong> Controle e gerenciamento de estoque, acompanhamento de pedidos, controle de carga e descarga de caminhões, relatórios de estoque, pedidos e de produção, solicitação de materiais e matéria prima.</p>
          </li>
        </ul>
      </div>
      <div class="card">
        <ul class="list-none">
          <li>
            <p><strong>Cargo:</strong> Auxiliar Administrativo</p>
            <p><strong>Empresa:</strong> AlanMotors</p>
            <p><strong>Período:</strong> 2011 até 2014</p>
            <p><strong>Função:</strong>  Emissão de notas fiscais de venda, devolução, garantia e de serviços, organização de documentos, pedidos e recargas de VT, cobrança, pagamentos, gerenciamento e relatório de rendimento de funcionários, negociações com fornecedores, relatórios de ganhos e gastos com apuração do lucro, relatórios de vendas, acompanhamento e cobrança de documentos fiscais junto a contabilidade, acompanhamento de contratação, férias e rescisão de funcionários, controle de estoque físico e por sistema, almoxarifado.</p>
          </li>
        </ul>
      </div>
      <div class="card">
        <ul class="list-none">
          <li>
            <p><strong>Cargo:</strong> Auxiliar de escritório</p>
            <p><strong>Empresa:</strong> SERTEC</p>
            <p><strong>Período:</strong> 2011</p>
            <p><strong>Função:</strong> Elaboração de balanço patrimonial e DRE no sistema "AlterData", cobrança de documentos e honorários, redigir contratos de compra e venda, aluguel e de serviços contábeis, acompanhamento de abertura e encerramento de firma, lançamentos contábeis, livros caixa e diário.</p>
          </li>
        </ul>
      </div>
    </div>

    <div id="hobbies">
      <h2>Meus Hobbies:</h2>
      <div>
        <div class="description">
          <p>Teste...</p>
        </div>
        <img class="illustration" src="image/leandro-hobbies.png" alt="hobbies">
      </div>
    </div>

    <div id="history">
      <h2>Minha História:</h2>
    </div>

  </main>

  <footer th:insert="${footer}"></footer>

</body>
</html>