<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

  <footer th:fragment="footer">
    <p><a href="/">&copy; leandrocardoso.dev</a></p>
    <ul>
      <a href="https://wa.me/5522992399041" target="_blank">
        <li>
          <img src="svg/whatsapp.svg" alt="whatsapp">
        </li>
      </a>
      <a href="mailto:leandrocardosodev@gmail.com?subject=Portfolio" target="_blank">
        <li>
          <img src="svg/mail.svg" alt="mail">
        </li>
      </a>
      <a href="https://github.com/Leandro-Cardoso" target="_blank">
        <li>
          <img src="svg/github.svg" alt="github">
        </li>
      </a>
      <a href="https://www.linkedin.com/in/leandro-cardoso-992529266/" target="_blank">
        <li>
          <img src="svg/linkedin.svg" alt="linkedin">
        </li>
      </a>
      <a href="https://x.com/LeandroCDev" target="_blank">
        <li>
          <img src="svg/x.svg" alt="x">
        </li>
      </a>
    </ul>
  </footer>

</body>
</html>