<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <header th:fragment="header">
        <nav>
            <ul>
                <li>
                    <a href="/">
                        Home
                    </a>
                </li>
                <li>
                    <a>
                        sobre
                    </a>
                </li>
                <li>
                    <a href="/contatos">
                        contatos
                    </a>
                </li>
                <li>
                    <a>
                        projetos
                    </a>
                </li>
                <li>
                    <a>
                        blog
                    </a>
                </li>
            </ul>
        </nav>
    </header>
</body>
</html>